<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Listado de Mensajes | Black Ops Paintball Asturias</title>
<link rel="icon" type="image/png" th:href="@{/img/logo.png}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand d-flex align-items-center" th:href="@{/admin}">
				<img th:src="@{/img/logo.png}" alt="Logo Black Ops"
				title="Panel Admin" /> <span class="ms-2">ADMINISTRACIÓN</span>
			</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link btn btn-outline-light"
						th:href="@{/logout}">Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container admin-menu">
		<h1 class="text-center mb-5">Listado de Mensajes</h1>
		<section class="container my-5">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="table-dark">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Primer apellido</th>
							<th>Segundo apellido</th>
							<th>Email</th>
							<th>Fecha</th>
							<th>Asunto</th>
							<th>Mensaje</th>





						</tr>
					</thead>
					<tbody>
						<tr th:each="contacto : ${contactos}">
							<td th:text="${contacto.id}"></td>
							<td th:text="${contacto.nombre}"></td>
							<td th:text="${contacto.apellido1}"></td>
							<td th:text="${contacto.apellido2}"></td>
							<td th:text="${contacto.email}"></td>
							<td
								th:text="${#temporals.format(contacto.fechaContacto, 'dd-MM-yyyy')}">2025-05-30
							</td>
							<td th:text="${contacto.asunto}"></td>
							<td th:text="${contacto.mensaje}"></td>




						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<div class="col-md-12">
			<a th:href="@{/admin/gestion_mensajes}"
				class="btn btn-dark w-100 p-4 shadow card-transparente"> Volver
				a la gestión de mensajes </a>
		</div>
	</main>

	<footer class="mt-5 text-center">
		<p>&copy; 2025 Black Ops Paintball Asturias | Panel de
			Administración</p>
	</footer>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
