<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Iniciar Sesión | Black Ops Paintball Asturias</title>
<link rel="icon" type="image/png" th:href="@{/img/logo.png}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<header class="intro">
		<video autoplay muted loop playsinline>
			<source th:src="@{/videos/paintball2.mp4}" type="video/mp4" />
		</video>
		<div class="content">
			<div class="container">
				<form class="form" th:action="@{/login}" method="post">
					<div class="form_details">Iniciar Sesión</div>
					<input placeholder="Usuario" class="input" type="text"
						name="username" required /> <input placeholder="Contraseña"
						class="input" type="password" name="password" required />
					<button class="login-btn" type="submit">Acceder</button>
					<div th:if="${errorLogin}" class="alert alert-danger"
						th:text="${errorLogin}"></div>
					<div class="switch">
						¿No estás registrado? <a th:href="@{/registro}">Regístrate
							aquí</a>
					</div>
				</form>
			</div>
		</div>
	</header>

	<script th:src="@{/js/timeout.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
