<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión | Black Ops Paintball Asturias</title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="hero">
      <video autoplay muted loop playsinline>
        <source src="videos/paintball2.mp4" type="video/mp4" />
        Tu navegador no soporta video HTML5.
      </video>
      <div class="content">
        <!-- From Uiverse.io by AmIt-DasIT -->
        <div class="container">
          <input type="checkbox" id="signup_toggle" />
          <form class="form">
            <div class="form_front">
              <div class="form_details">Login</div>
              <input placeholder="Username" class="input" type="text" />
              <input placeholder="Password" class="input" type="text" />
              <button class="btn login-btn">Login</button>
              <span class="switch"
                >Don't have an account?
                <label class="signup_tog" for="signup_toggle"> Sign Up </label>
              </span>
            </div>
            <div class="form_back">
              <div class="form_details">SignUp</div>
              <input placeholder="Firstname" class="input" type="text" />
              <input placeholder="Username" class="input" type="text" />
              <input placeholder="Password" class="input" type="text" />
              <input placeholder="Confirm Password" class="input" type="text" />
              <button class="btn">Signup</button>
              <span class="switch"
                >Already have an account?
                <label class="signup_tog" for="signup_toggle"> Sign In </label>
              </span>
            </div>
          </form>
        </div>
      </div>
    </header>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
